body {
    margin: 20px;
    font-family: Arial;
    padding-left: 200px; 
    padding-top: 100px; 
}

header {
    background: #a0522d;
    color: aliceblue;
    text-align: center;
    border-style: hidden;
    border-width: 3px;
    border-color: #fffbe6;
    padding: 50px ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
}

nav {
    margin-top: 0px; 
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: rgb(83, 34, 163);
    font-weight: bold;
}

.sidebar {
    position: fixed;
    top: 0; 
    left: 0;
    width: 200px;
    height: 100%;
    background: black;
    padding-top: 30px;
    bottom: 0;
    
    
   
}

.sidebar a {
    display: inline-block;
    color: #fffbe6;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid #ffe4c4;
   
}

.sidebar a:hover {
    background: #a0522d;
    color: #fff;
}
h3 {
    
    border-radius: 20%;
    
    background: #08bfaa;
    color: rgb(10, 12, 77);
    text-align: center;
    border-style: hidden;
    border-width: 3px;
    border-color: #0c0303;
    padding: 2px;
}

.menu-icon {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
